/* Collaborated with https://github.com/Ewager1 and https://github.com/ReindeerCode */

body {
  background-color: whitesmoke;
}

.bg-color {
  background-color: aquamarine;
}

.navbarright {
  justify-content: flex-end;
}

/*Google font addition*/

main h1 h5 div header {
  font-family: "Roboto", sans-serif;
}

/*Psuedo Code for social links */

a:hover {
  color: aquamarine;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  height: 5%;
  text-align: center;
}

.screenShotSize {
  height: 140px;
  width: auto;
}
