body {
  background-color: whitesmoke;
}

.bg-color {
  background-color: aquamarine;
}

main h1 h5 div header {
  font-family: "Roboto", sans-serif;
}

a:hover {
  color: aquamarine;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  height: 5%;
  text-align: center;
}
