footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  height: 5%;
  text-align: center;
}
.container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  background-color: aquamarine;
}

body {
  background-color: whitesmoke;
}
