body {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: skyblue;
}

.container {
  background-color: gray;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-bottom: ;
}

.img-portfolio {
  max-width: 100%;
}

@media (max-width: 400px) {
  .container;
}
